@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body{
    background-color: white;
    background-image: url("e197ce2e.png");
    font-family: 'Karla', sans-serif;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    /*box-shadow: 5px 5px 10px #138c5a;*/
    box-shadow: -2px 2px 2px #138c5a;
}

#userName{
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: 'Karla', sans-serif;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    /*background-color: #39e09b;*/
    background-color: #2fd490;
    color: white;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: 2px solid #2b2b2b;
}

.link.highlight{
    background-color: #eca334;
}

.link:hover{
    background-color: white;
    color: #2fd490;
}

/*
background: http://bg.siteorigin.com/
color: #39e09b
pattern: Back Pattern
Blend Mode: Darken
*/